* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}

body {
  background-color: #f2f2f29e;
  font-family: var(--font-card1);
  margin: 16px;
  display: grid;
  height: 100vh;
}

hr {
  background-color: var(--border-opacity);
}

:root {
  --font-card1: 'Arial', sans-serif;
  --font-card2: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica';
  --font-card3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --text-darkgray1: #dcd2d27d;
  --text-darkgray: #342e2e7d;
  --border-opacity: 0.1rem solid #b2b3b5f5;

  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-text: #151426;
  --blue: #0000ff;
  --white: #fff;

  --shadow-calendar: 0 0 1em rgba(72, 70, 63, 0.645);
  
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover:var(--light-hover);
  --color-txt:var(--light-text);   
}


.divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

.box-one {
  position: absolute;
  width: 13.5rem;
  box-shadow: 0 0.26rem 0.6rem 0 rgba(0, 0, 0, 0.2),
    0 0.37rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  margin-top: 1.7rem;
}

.column-left {
  background-color:  var(--bg-main);
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.column-left .text-image {
  display: inline-block;
  position: relative;
}

.column-left .text-image h1 {
  position: absolute;
  top: 5.81rem;
  margin-left: 1rem;
  font-size: 1.29rem;
  color: white;
}
.column-left .text-image p {
  position: absolute;
  top: 125px;

  margin: 0rem 0 0 1rem;
  font-size: 0.5rem;
  color: var(--text-darkgray1);
}
.imagem {
  width: 100%;
  height: 9rem;
  border-radius: 1.25rem 1.25rem 0 0;
}

.localization {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-left .localization h3 {
  color: #191970;
  font-size: 0.5rem;
  margin: 0.5rem;
  font-weight: 900;
}

.column-left span {
  font-size: 0.6rem;
}

.fas {
  font-size: 0.7rem;
  margin-right: 0.5rem;
  color: rgb(152, 149, 149);
  cursor: pointer;
}

.fas:hover{
  color: rgb(48, 48, 48);
}

.column-left p {
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0.5rem;
  color: var(--text-darkgray);
}

.area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-left span.valor {
  font-size: 0.8rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

.column-left .area p {
  position: relative;
  top: -15px;
  left: 38px;
  font-size: 0.6rem;
  font-weight: bold;
}
.column-left .button {
  margin: 0.5rem 0.8rem;
  color: #fff;
  background-color: #0000ff;
  padding: 0.55rem 0.2rem;
  border-radius: 0.5rem;
  border: solid 0.1rem;
  text-align: center;
  cursor: pointer;
  font-size: 0.7rem;
  width: 40%;
}

.column-left .button:hover {
  background: none;
  color: #0000ff;
  border: 0.1rem solid #0000ff;
}


/* COLUMN RIGHT */
.box-two {
  position: absolute;
  left: 333px;
  top: 1rem;
  width: 13.5rem;
  margin-top: 1.7rem;
}

.column-right {
  width: 24rem;
  height: 39.5rem;
  background-color:  var(--bg-main);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: var(--border-opacity);
  margin: 0 0.6rem 1.3rem 0.1rem;
}

.ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.ticket h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

.ticket span {
  font-size: 1rem;
  color: #000000bf;
  font-family: var(--font-card3);
}

.column-right .ticket button {
  background-color: #524c4c3e;
  border-radius: 0.7rem;
  border: 0.1rem solid #524c4c3e;
  margin: 1rem;
  padding: 0.6rem;
  width: 7rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.column-right .ticket button:hover {
  background-color: #524c4c10;
  color: #000000bf;
  border: 0.1rem solid #524c4c3e;
}

.column-right .date {
  display: flex;
  align-content: center;
}

.column-right .date input {
  border-radius: 0.5rem;
  border: var(--border-opacity);
  margin-left: 1.9rem;
  width: 8.5rem;
  height: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  font-family: var(--font-card2);
  padding: 0.3rem;
  cursor: pointer;
}

.column-right .people {
  display: grid;
  grid-auto-flow: column;
  text-align: start;
  justify-content: baseline;
  margin: 1rem 0rem 0.7rem 2.5rem;
  font-size: 0.7rem;
  color: var(--text-darkgray);
  font-weight: bold;
}

.column-right .number {
  display: flex;
  align-content: center;
  margin: 0 0.6rem;
}

/* remove set  */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* button */
.number button {
  -webkit-appearance: none;
  background-color:  var(--bg-second);
  border: none;
  border-radius: 0.35rem;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin: 1rem;
  position: relative;
}

/* arrows all */
.number button:before,
.number button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 3px;
  color: #fff;
  transform: translate(-50%, -50%);
}

/* ARROWs + */
.number button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

/* box all */
.column-right .number-input.number {
  border-radius: 0.5rem;
  border: var(--border-opacity);
  background-color: #fff;
  margin-left: 1.19rem;
  width: 8.6rem;
  height: 2.5rem;
  text-align: center;
  padding: 0.3rem;
}

/* margin-padd */
.number-input.number button {
  width: 8rem;
  height: 1.7rem;
}

.number-input.number button.minus {
  padding-left: 1rem;
}
.number-input.number button.plus {
  padding-left: 1rem;
}

/* arrows */
.number-input.number button:before,
.number-input.number button:after {
  width: 1rem;
  background-color: #4c4370d7;
}


/*-------- BOX NUMBER ----------- */
.number-input.number input[type='number'] {
  max-width: 2rem;
  padding: 0;
  border: none;
  top: 0;
  font-size: 1.3 rem;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-card2);
}

.column-right .btn-main .reserve button {
  align-content: center;
  width: 20.5rem;
  align-items: center;
  margin: 1.7rem;
  border-radius: 20px;
  border: .1rem solid rgb(98, 185, 214);
  padding: 1rem;
  color: #fff;
  font-weight: 900;
  background-color: rgb(98, 185, 214);
  cursor: pointer;
  box-shadow: lightblue  0rem 0rem 1rem .1rem;
}

.column-right .btn-main .reserve button:hover {
  background: none;
  color: rgb(98, 185, 214);
  border: 0.1rem solid rgb(98, 185, 214);
}

.column-right .btn-main .reserve p {
  font-size: .7rem;
  text-align: center;
}


/* ------------ SERVICES ------------*/

table {
margin: 1rem;
  border-collapse: separate;
  text-indent: 30px;
  border-spacing: 5px;
}

.production {
  font-size: .95rem;
  margin: 1rem;
  color: rgba(48, 48, 48, 0.892);
  font-weight: 600;
  align-items: flex-start;
}

td.production span {
  font-weight: 800;
}

.value{
  display: inline;
  color: rgba(48, 48, 48, 0.85);
font-weight: 700;
font-size: 1rem;
margin-left: 1rem;

} 

.fee{
  text-decoration: underline;
}

.total  {
  position: relative;
  padding: 1rem;  
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  left: 20px;
  
}

.velue-total  {
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  margin-left: 11rem;
  text-indent: 30px;
}


/* CHATBOX */
.chatbox {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.user { 
  margin: 1rem 0;
  margin-left: -5rem;
  font-size: .9rem;
}

.user h3 {
  color: #3a3838;
}

.user p {
  color: var(--text-darkgray);
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  border-radius: 25px 25px 25px 25px;
  width: 40px;
  height: 40px;

  margin: 1rem;
  background-color: var(--text-darkgray1);
  font-size: 1rem;
}

.chatbox .fa-user {
  color: var(--text-darkgray);
}
.chatbox .fa-user:hover {
 color: rgb(48, 48, 48);
  cursor: pointer;
}
.chatbox .fa-comment {
  font-weight: 500;
}

.chatbox .fa-comment:hover {
  cursor: pointer;
  color: rgb(157, 149, 149);
}


/*  ----------- CALENDAR --------------*/
.calendar-container{
  display: flex;
  height: 25rem;
  width: 49rem;
  margin: 0 -20rem;
  box-shadow: var(--shadow-calendar);
  border-radius: 1.8rem;
  background-color: var(--bg-main);
}

.calendar{
  margin: 2rem;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-txt);
  padding: .6rem;
}

.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  height: 3rem;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color:var(--bg-second);
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
   color: var(--color-txt);
   gap: 2px;
  }

  .calendar-days div {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    position: relative;
    cursor: pointer;
  }

  .month-picker {
    padding: .1rem .5rem;
    border-radius: .6rem;
    cursor: pointer;
  }

  .month-picker:hover{
    background-color: var(--color-hover);
  }

  .year-picker {
    display: flex;
    align-items: center;
  }

  .year-change {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 .5rem;
    cursor: pointer;
  }

  .year-change:hover {
    background-color: var(--color-hover);
  }

  .toggle {
    display: flex;
  }

  .toggle span {
    margin-right: .6rem;
    color: var(--color-txt);
    font-weight: 600;
  }

  .calendar-days div span {
    position: absolute;
  }

  .calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }

  .calendar-days div span:nth-child(1),
  .calendar-days div span:nth-child(3){
    width: 2px;
    height: 0;
    background-color: var(--blue);
  }

  .calendar-days div:hover span:nth-child(1),
  .calendar-days div:hover span:nth-child(3){
    height: 100%;
  }

  .calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
  }

  .calendar-days div span:nth-child(3){
    top: 0;
    right: 0;
  }
  

  .calendar-days div span:nth-child(2),
  .calendar-days div span:nth-child(4) {
    width: 0;
    height: 0;
    background-color: var(--color-txt);
  }

  .calendar-days div:hover span:nth-child(2),
  .calendar-days div:hover span:nth-child(4){
  width: 100%;
  }


  .calendar-days div span:nth-child(2){
    top: 0;
    left: 0;
  }

  .calendar-days div span:nth-child(4){
    bottom: 0;
    right: 0;
  }

  .calendar-days div:hover span:nth-child(2){
    transition-delay: 0.2s;
  }
  .calendar-days div:hover span:nth-child(3){
    transition-delay: 0.4s;
  }
  .calendar-days div:hover span:nth-child(4){
    transition-delay: 0.6s;
  }

  .calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: .3rem .6rem;
    border-radius: .6rem;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 .6rem;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: .6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    left: 5rem;   
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: .6rem;
    color: var(--color-txt);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 1.25rem;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: .3rem 1.25rem;
    border-radius: .6rem;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

.calendar-two {
  margin-left: .5rem;
}

.calendar-one pre i {
  display: inline;
  position: relative;
  right: 5rem;
  font-size: 1.5rem;
  color: var(--light-second);
  font-weight: 100;
}

.calendar-one pre i:hover{
  color: var(--text-darkgray)
}

.calendar-two pre i {
  display: inline;
  position: relative;
  left: 5rem;
  font-size: 1.5rem;
  color: var(--light-second);
  font-weight: 100;
}

.calendar-two pre i:hover{
  color: var(--text-darkgray)
}


.january div:hover{
background-color: var(--blue);
color: var(--light-main);
border-radius: 50%;
transition: 0.2s;
transition-delay: 0.1s;
}


/* IMAGEM REFENCE */
.img-refence {
  display: flex;
  justify-content: flex-end;
}

.box-img {
  width: 100%;
  height: 45rem;
  border: 3px solid var(--blue);
}
